<main>
  <h1 class="top">ようこそ<span>Bookers</span>へ！</h1>


  <p class="bookers"><span>Bookers</span>
  では、さまざまな書籍に関するあなたの意見や</p>
  <p class="bookers">印象を共有し交換することができます</p>

  <p class="bookers"><%=link_to "start", books_path %></p>

</main>