// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  margin:20px;
}

p{
  margin: 30px 50px;
  color:gray;
}

span{
  font-weight:bold;
  color:black;
}
